services:
  postgres:
    build: .
    container_name: vulndb
    ports:
      - "5431:5432"
    environment:
      POSTGRES_USER: vulndb
      POSTGRES_PASSWORD: vulndb_pwd
      POSTGRES_DB: vulndb
    volumes:
      - ./pgdata:/var/lib/postgresql/data
      - ./data.csv:/app/data.csv
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql